<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.common.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.common.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.common.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>controller.product.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.product.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.common.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.common.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>controller.common.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackController</servlet-name>
        <servlet-class>controller.product.AddFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <servlet-class>controller.product.DeleteFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartController</servlet-name>
        <servlet-class>controller.product.AddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartInfoController</servlet-name>
        <servlet-class>controller.product.CartInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>controller.product.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controller.product.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContactController</servlet-name>
        <servlet-class>controller.product.CartContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderController</servlet-name>
        <servlet-class>controller.product.AddOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutThankServlet</servlet-name>
        <servlet-class>controller.product.CheckoutThankyouController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.product.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagementController</servlet-name>
        <servlet-class>controller.admin.AdminManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderController</servlet-name>
        <servlet-class>controller.management.ManageOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveOrderController</servlet-name>
        <servlet-class>controller.management.ApproveOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisapproveOrderController</servlet-name>
        <servlet-class>controller.management.DisapproveOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controller.management.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>controller.management.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.management.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogController</servlet-name>
        <servlet-class>controller.management.AddBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusBlogController</servlet-name>
        <servlet-class>controller.management.ChangeStatusBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailsController</servlet-name>
        <servlet-class>controller.management.BlogDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogController</servlet-name>
        <servlet-class>controller.management.UpdateBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListMakettingController</servlet-name>
        <servlet-class>controller.blog.BlogListMakettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailMakettingController</servlet-name>
        <servlet-class>controller.blog.BlogDetailMakettingController</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>ServiceListController</servlet-name>
        <servlet-class>controller.service.ServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailController</servlet-name>
        <servlet-class>controller.service.ServiceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controller.service.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAvailableTechSController</servlet-name>
        <servlet-class>controller.service.LoadAvailableTechSController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistedServiceController</servlet-name>
        <servlet-class>controller.order.RegistedServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRegist</servlet-name>
        <servlet-class>controller.order.AcceptRegist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DenyRegist</servlet-name>
        <servlet-class>controller.order.DenyRegist</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ManageProductList</servlet-name>
        <servlet-class>controller.product.ManageProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAddController</servlet-name>
        <servlet-class>controller.product.ProductAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateController</servlet-name>
        <servlet-class>controller.product.ProductUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteController</servlet-name>
        <servlet-class>controller.product.ProductDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialListController</servlet-name>
        <servlet-class>controller.material.MaterialListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialAdd</servlet-name>
        <servlet-class>controller.material.MaterialAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialUpdate</servlet-name>
        <servlet-class>controller.material.MaterialUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialDelete</servlet-name>
        <servlet-class>controller.material.MaterialDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMaterial</servlet-name>
        <servlet-class>controller.material.SearchMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>controller.product.SearchProduct</servlet-class>
    </servlet>
    
    
    
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/list-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/logingoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackController</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <url-pattern>/delete-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartController</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartInfoController</servlet-name>
        <url-pattern>/cartinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/updatecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContactController</servlet-name>
        <url-pattern>/cartcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderController</servlet-name>
        <url-pattern>/addorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutThankServlet</servlet-name>
        <url-pattern>/thankyou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagementController</servlet-name>
        <url-pattern>/admin-manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderController</servlet-name>
        <url-pattern>/manageorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveOrderController</servlet-name>
        <url-pattern>/approve-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisapproveOrderController</servlet-name>
        <url-pattern>/disapprove-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/update-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/blog-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogController</servlet-name>
        <url-pattern>/add-blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusBlogController</servlet-name>
        <url-pattern>/change-status-blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailsController</servlet-name>
        <url-pattern>/blog-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogController</servlet-name>
        <url-pattern>/update-blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListMakettingController</servlet-name>
        <url-pattern>/list-blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailMakettingController</servlet-name>
        <url-pattern>/blog-details-maketting</url-pattern>
    </servlet-mapping>
    
    
    
     <servlet-mapping>
        <servlet-name>ServiceDetailController</servlet-name>
        <url-pattern>/service-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/register_service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAvailableTechSController</servlet-name>
        <url-pattern>/loadAvailableTechS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistedServiceController</servlet-name>
        <url-pattern>/registedService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRegist</servlet-name>
        <url-pattern>/acceptRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DenyRegist</servlet-name>
        <url-pattern>/denyRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductList</servlet-name>
        <url-pattern>/manageproductlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAddController</servlet-name>
        <url-pattern>/ProductAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateController</servlet-name>
        <url-pattern>/ProductUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteController</servlet-name>
        <url-pattern>/ProductDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialListController</servlet-name>
        <url-pattern>/managemateriallist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialAdd</servlet-name>
        <url-pattern>/MaterialAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialUpdate</servlet-name>
        <url-pattern>/MaterialUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialDelete</servlet-name>
        <url-pattern>/MaterialDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMaterial</servlet-name>
        <url-pattern>/SearchMaterial</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ServiceListController</servlet-name>
        <url-pattern>/list-service</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            home
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
        <init-param>
            <description>
                Path to configuration file can be relative path inside application,
                absolute path on local file system or UNC path.
            </description>
            <param-name>XMLConfig</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>
            /ckfinder/core/connector/java/connector.java
        </url-pattern>
    </servlet-mapping>
</web-app>
